<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="5f9ff849-af05-4862-b53a-eaae13d77bbb" activeEnvironment="recordWeather" name="IrishRail API" lastOpened="2017-02-03T15:39:31.367-05:00" resourceRoot="${projectDir}" soapui-version="6.0.0" abortOnError="false" runType="SEQUENTIAL" encryptionMode="Not encrypted" updated="3.3.2" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5f9ff849-af05-4862-b53a-eaae13d77bbbfileName">IrishRail-API</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:environment id="2eeeae02-9133-458b-8feb-15a4d82676ce" name="recordRail" index="0">
    <con:service type="REST" name="http://api.irishrail.ie">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://localhost:8088/</con:endpoint>
    </con:service>
    <con:service type="REST" name="http://api.openweathermap.org">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://api.openweathermap.org</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="0325dd47-62b3-42a0-bb96-3ab14a8e2ab9" name="recordWeather" index="1">
    <con:service type="REST" name="http://api.irishrail.ie">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://api.irishrail.ie</con:endpoint>
    </con:service>
    <con:service type="REST" name="http://api.openweathermap.org">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://localhost:8090/</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
