<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config" xsi:type="con:RestService" id="0cd13d08-4dda-4cad-8bb2-c0eb83970f43" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://api.irishrail.ie" type="rest">
  <con:settings id="ac7556c6-ef83-47b8-ad3f-2b35a640af4e">
    <con:setting id="0cd13d08-4dda-4cad-8bb2-c0eb83970f43fileName">http%3A%2F%2Fapi.irishrail.ie</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://api.irishrail.ie</con:endpoint>
  </con:endpoints>
</con:interface>
