<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService id="e731839c-a9dd-4034-b616-6abba9f4ed7b" port="8081" path="/" host="localhost" name="REST Virtual Service 4" routeModeEnabled="false" routeEndpoint="http://api.irishrail.ie" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e731839c-a9dd-4034-b616-6abba9f4ed7bfileName">REST-Virtual-Service-4</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:code>200</con:code>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
</con:restMockService>
