<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8e75b140-5518-4c8a-843c-abaa35cac0e4" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://pagead2.googlesyndication.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8e75b140-5518-4c8a-843c-abaa35cac0e4fileName">https%3A%2F%2Fpagead2.googlesyndication.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://pagead2.googlesyndication.com</con:endpoint>
  </con:endpoints>
</con:interface>
