<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService id="32142209-feef-4ca8-86dd-c0de19072b1a" port="8088" path="/" host="localhost" name="http://api.irishrail.ie Virtual Service" routeModeEnabled="false" routeEndpoint="http://api.irishrail.ie" maxNumberOfRoutedResponse="100" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="32142209-feef-4ca8-86dd-c0de19072b1afileName">http%3A%2F%2Fapi.irishrail.ie-Virtual-Service</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
</con:restMockService>
