<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="cf25f3e8-bbe6-4971-87f9-e40c57f2c7ee" name="https://samples.openweathermap.org TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="cf25f3e8-bbe6-4971-87f9-e40c57f2c7eefileName">https%3A%2F%2Fsamples.openweathermap.org-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
