<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="94655bb2-be89-4d54-a66c-5047642c9c64" name="http://api.irishrail.ie TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="94655bb2-be89-4d54-a66c-5047642c9c64fileName">http%3A%2F%2Fapi.irishrail.ie-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
