<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="252aca19-d86c-469f-a9a2-00ef56d57a32" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://samples.openweathermap.org" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="252aca19-d86c-469f-a9a2-00ef56d57a32fileName">https%3A%2F%2Fsamples.openweathermap.org</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://localhost:8090/</con:endpoint>
    <con:endpoint>https://samples.openweathermap.org</con:endpoint>
  </con:endpoints>
</con:interface>
